<div class="card">
    <div class="city">
        <ng-content select=".city"></ng-content>
    </div>
    <div class="todayDate">
        <ng-content select=".todayDate"></ng-content>
    </div>
    <div class="temperature">
        <ng-content select=".temperature"></ng-content>
    </div>
    <div class="time">
        <div class="sunriseTime">
            <ng-content select=".sunriseTime"></ng-content>
        </div>
        <div class="sunsetTime">
            <ng-content select=".sunsetTime"></ng-content>
        </div>
    </div>
    <div class="next-btn">
        <ng-content select=".next-btn"></ng-content>
    </div>
</div>
