.navbar-header {
    a {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        border-bottom: 2px solid;
    }
}

.container--display {
    display: flex;
    justify-content: center;
}